@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body{
    min-height:100%;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    font-family: Roboto, sans-serif;
    color: white;
    background-image: linear-gradient(90deg, #933546 0%, #f74b6d 55%, #933546 100%) !important;
}
h1{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    display: flex;
    align-self: baseline;
    margin-top: 3em;
}
.logo-header{
    display: flex;
}

.text_block{
    width: 6em;
    margin-right: 3em;
}
nav{
    margin-top: 1.5em;
    display: flex;
    height: 41.11px;
    font-size: 20px;
    font-weight: 500;
}
.nav1,
.nav2,
.nav3{
    padding: 0 10px;
}
.nav4{
    text-align: right;
    border: white solid;
    background-image: url(/img/discord-brands.svg);
    background-repeat: no-repeat;
    background-size: 1.3em;
    background-position: .6em 7px;
    margin-left: 2em;
    padding: 5px 0;
    padding-left: 2em;
    padding-right: 1em;
    margin: 0;
    position: relative;
    bottom: .4em; 
    left: 1.5em;   
}
.nav4:hover{
    box-shadow: 0px 0px 32px 1px rgba(34, 60, 80, 0.06) inset;
}
a{
    color: white;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}
.nav1:hover{
    background-color: #95212191;
    border-radius: .3em;
}
.nav2:hover{
    background-color: #95212191;
    border-radius: .3em;
}
.nav3:hover{
    background-color: #95212191;
    border-radius: .3em;
}
.main{
    margin-top: 10em;
    display: flex;
}
.img-main{
    border: solid white;
    border-radius: 3em;
    width: 466px;
    height: 296px;
}
.tx-main{
    margin-left: 1em;
    margin-top: 6em;
    display: block;
    width: 23em;
    position: relative;
    text-align: center;

}
.text-main1{
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}
.text-main2{
    margin-top: 1em;
    font-size: 20px;
    text-align: center;
}
footer{
    margin: 0;
    padding: 0;
}
.plus-18{
    display: block;
    margin: 0 auto;
    position: relative;
    top: 10em;
}
hr{
    display: block;
    text-align: center;
    height: .3em;
    width: 10em;
}