@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body{
    font-family: Roboto, sans-serif;
    color: white;
    background-image: linear-gradient(90deg, #933546 0%, #f74b6d 55%, #933546 100%) !important;
}
header{
    display: flex;
    align-self: baseline;
    margin: 46px 169px;
    justify-content: space-around;
}
.text_logo{
   position: relative;
   right: 2em;
}
.text_block{
    width: 10em;
}
nav{
    display: flex;
    position: relative;
    top: 1.5em;
    font-size: 24px;
    right: 20px;
    font-weight: 300;
}
.nav2,
.nav3,
.nav4{
    margin-left: 75px;
}
.nav1,
.nav2,
.nav3{
    padding: 5px 10px;
    position: relative;
    right: 2em;
}
.nav4{
    position: relative;
    top: -10px;
    border: white solid;
    padding: 10px 20px;
}
.nav4:hover{
    box-shadow: 0px 0px 32px 1px rgba(34, 60, 80, 0.06) inset;
}
a{
    color: white;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}
.nav1:hover{
    background-color: #95212191;
    border-radius: .3em;
}
.nav2:hover{
    background-color: #95212191;
    border-radius: .3em;
}
.nav3:hover{
    background-color: #95212191;
    border-radius: .3em;
}
.main{
    margin-top: 5em;
    margin-left: 12.9em;
    display: flex;
}
.img-main{
    border-radius: 3em;
    width: 766px;
    height: 462px;
}
.text-main1{
    margin: 3em 0;
    font-size: 49px;
    width: 15em;
    text-align: center;
}
.text-main2{
    position: relative;
    bottom: 3em;
    left: 2.5em;
    font-size: 35px;
    width: 16em;
    text-align: center;
}
footer{
    margin-top: 9em;
    margin-left: 54em;
}